body {
  background: #EEE;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

#redSlider {
  .slider-selection {
    background: #FF8282;
  }

  .slider-handle {
    background: red;
  }
}

#greenSlider {
  .slider-selection {
    background: #428041;
  }

  .slider-handle {
    background: green;
  }
}

#blueSlider {
  .slider-selection {
    background: #8283FF;
  }

  .slider-handle {
    border-bottom-color: blue;
  }
}

#whiteSlider {
  .slider-track-high {
    background: #DDD;
  }

  .slider-handle {
    background: #FFF;
  }
}

#brightSlider {}
